@import url('https://fonts.googleapis.com/css?family=Ranga');
h1{
  text-align: center;
  font-family: Ranga;
}
body{
  background-color: red;
}
input{
  display: inline;
}
p{
  text-align: center;
  color:white;
}
button{
  text-align: center;
  margin: auto;
  display: block;
}
a{
  color:Yellow;
  text-align: center;
  margin: auto;
  display: block;
}
input{
  display: inline;
}
#inputs{
  width: 100%;
  text-align: center;
}
#inputs2{
  width: 100%;
  text-align: center;
}
